{% extends 'base.html.twig' %}

{% block title %}Formulaire d'ajout d'utilisateur{% endblock %}

{% block body %}
<h1>Ajouter un utilisateur</h1>
    {{form_start(form)}}
        {{ form_row(form.nom) }}
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom)}}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        {{form_errors(form.password)}}
        {{ form_row(form.urlImg) }}
        <input type="submit" value="Ajouter"/>
    {{form_end(form)}}

    <p>{{msg}}</p>
{% endblock %}
